@import url("https://fonts.googleapis.com/css?family=Comfortaa");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300");
@import '../theme/mixin.scss';
@import '../theme/variables.scss';
@import '../scss/components/seclink.scss';

*{
    margin: 0;
    padding: 0;
}

// Header

header{
    @include flex;
    height: 7vh;
}

// section

